/* Root */
:root {
  --btn-bg-header: #363636;
  --btn-bg-explore: #2C64E6;
  --btn-bg-jumbotron: #CD3C10;
  --bg-footer: #00439B;
  --bg-ps-plus: #BEBCBB;
  --bg-ps-now: #161C3B;
}

/* Utils */
.cs-btn {
  border-radius: 25px;
  padding: 10px 15px; 
}

.row > .col.img {
  display: none;
}

/* Generics */
body {
  padding-top: 106px;;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding: 50px 0;
}

/* Header */
.upper-header img {
  height: 14px;
}

img {
  width: 100%;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header .cs-btn {
  background-color: var(--btn-bg-header);
  color: white;
}

/* Main */

/* Section Jumbotron */
.jumbotron {
  height: 580px;
  padding: 50px 0;
  color: white;
}

.jumbotron .cs-btn {
  color: white;
  background-color: var(--btn-bg-jumbotron);
}

.jumbotron img {
  width: 55%;
}

#jumbotron-main {
  background-image: url(../img/jumbo-bg.png);
  background-position: center top;
  background-size: cover;
}

#jumbotron-secondary {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center top;
  background-size: cover;
}

/* Section games jumbotron */
#games-jumbotron {
  padding: 30px 0;
}

#games-jumbotron img{
  border-radius: 22px;
}

/* Section explore ps5 */
#explore-ps5 p{
  font-size: 20px;
  color: gray;
  font-weight: 500;
}

#explore-ps5 p.motto{
  font-size: 15px;
  color: #4B96DA;
  font-weight: 500;
}

#explore-ps5 .cs-btn {
  color: white;
  background-color: var(--btn-bg-explore);
}

#explore-ps5 .item-ps5 {
  filter: opacity(0.6);
}

#explore-ps5 .item-ps5 h3{
  display: none;
}

/* Section new entry */
#new-entry {
  background-color: #1f1f1f;
}

#new-entry img{
  border-radius: 22px;
}

/* Section explore ps4 */
#explore-ps4 {
  min-height: 400px;
}

/* Section ps plus */
#ps-plus {
  min-height: 300px;
  background-color: var(--bg-ps-plus);
}

/* Section new discount */
#new-discount {
  min-height: 300px;
}

/* Section ps now */
#ps-now {
  background-color: var(--bg-ps-now);
  min-height: 300px;
}

/* section follow us */

/* Footer */
footer {
  min-height: 300px;
  padding: 50px 0;
  background-color: var(--bg-footer);
}

/***************************************
*************** RESPONSIVE *************
++++++++++++++++++++++++++++++++++++++**/

@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 768px) {
  .row > .col.img {
    display: block;
  }

  #follow-us .col {
    width: 140px;
  }

  #explore-ps5 .item-ps5 h3{
    display: block;
    margin-top: 5px;
  }
}

@media screen and (min-width: 992px) {
  
}