/* Root */
:root {
  --btn-bg-header: #363636;
  --btn-bg-explore: #2C64E6;
  --btn-bg-jumbotron: #CD3C10;
  --bg-footer: #00439B;
  --bg-ps-plus: #BEBCBB;
  --bg-ps-now: #161C3B;
}

/* Utils */
.cs-btn {
  /* TODO Remove */
  border: 1px solid black;

  border-radius: 15px;
  padding: 5px;
}

.row > [class^="col"] {
  border: 1px solid darkorange;
  min-height: 40px;
}

/* Generics */
body {
  height: 2000px;
  padding-top: 106px;;
}

/* Header */
.upper-header img {
  height: 14px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* Main */

/* Section Jumbotron */
.jumbotron {
  min-height: 570px;
  background-color: #00439B;
  color: white;
  padding-top: 285px
}

.jumbotron img {
  width: 60%;
}

#explore-ps5 {
  min-height: 400px;
  background-color: #161C3B;
}